html,body{
    width: 100%;
    height: 100%;
}
.site-loading{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    z-index: 1;
    visibility: hidden;
    pointer-events: none;
}
.site-loading.active{
    visibility: visible;
}
@keyframes loading{
    0%{
        transform: scale(0)
    }
    100%{
        transform: scale(1)
    }
}
.site-loading::before{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    width:100px;
    height:100px;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
    background: #AA3722;
    animation: loading 1s infinite alternate-reverse;
}
.wrapper{
    width: 100%;
    height: 86%;
    display: flex;
    justify-content: space-between;
}
header{
    width: 100%;
    padding: 14px;
    background-color: #AA3722;
    color: white;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
.wrapper .list{
    width: 20%;
    height: 100%;
    position: relative;
}
.list .create{
    text-align: center;
}
.list .create.active{
    background-color:#c8c8c8;
}
.list ul{
    overflow: auto;
    height: 75%;
}
.list ul li{
    text-align: center;
    padding: 1%;
}
.list ul li:nth-of-type(odd){
    background-color: #f7f7f7;
    border-left: 3px solid #f7f7f7;
}
.list ul li:nth-of-type(even){
    background-color: #efefef;
    border-left: 3px solid #efefef;
}
.list ul li.active{
    background-color:#c8c8c8; 
    border-left: 3px solid #AA3722;
}
.wrapper .message{
    width: 80%;
    height: 100%;
    padding: 50px;
    background-color:#c8c8c8;
}
.message .uploadArea{
    width: 60%;
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto;
    border: 1px dashed #ddd;
    text-align: center;
}
.message .uploadArea .draggable,
.draggable .clickable{
    width: 100%;
}
.uploadArea{
    position: absolute;
    bottom: 2%;
    left: 0;
    text-align: center;
    width: 100%;
}