.wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.wrapper .list{
    width: 30%;
    position: relative;
}
.wrapper .message{
    width: 60%;
}
.create{
    position: absolute;
    top: 100%;
    left: 0;
}